<!DOCTYPE html>
<html>
  <head>
    <title>Twixtertube</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Pathway+Gothic+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Roboto+Condensed|Roboto:400,500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <% if current_user %>
      <script>
        window.currentUser = {
          'id': <%= current_user.id %>,
          'username': "<%= current_user.username %>",
          'email': "<%= current_user.email %>"
        }
      </script>
    <% end %>
    
  </head>

  <body style="background-color:rgb(249,249,249);">
    <%= yield %>
  </body>
</html>
